<!DOCTYPE html>
<html>
<head>
    <title>Name</title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        <label for="fname">Name:</label>
        <input tyoe="text" id="fname" name="fname"/><br /><br/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
